<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>
    <input type="text" value="{{nombre::input}}"/> <!-- ::input hay que hacerlo sólo en elos input si queremos que se actualice el valor del nombre con el valor de la caja -->

    <h2>Soy {{nombre}} [[apellidos]]</h2>
    <h2>Soy [[nombre]] [[apellidos]]</h2>
    <input type="number" min="18" max="70" value="{{edad::input}}"/>
    <h3>y tengo [[edad]] años</h3>
  </template>

  <script>
/** <h2>Hello [[prop1]]!</h2>*/

    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          /**prop1*/nombre: {
            type: String/**,
            value: 'Alberto Cuesta'*/
          },
          apellidos: {
            type: String
          },
          edad: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
