<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="hacerLogin"
               url="http://localhost:3000/apitechu/v5/login/{{email}}/{{password}}"
               method="GET"
               handle-as="json"
               on-response="mostrarResultadoLogin"
               on-error="mostrarError">

<!-- params='{"part":"snippet", "q":"polymer", "key": "YOUTUBE_API_KEY", "type": "video"}'-->

    </iron-ajax>
    <div class="row">
    <input type="email" value={{email::input}} />
    <input type="password" value={{password::input}} />
    <button on-click="logar">Login</button> <!-- onclick es un manejedor javascript, y yo quiero uno polymer, que es on-click -->
    </div>
    <span hidden$="{{!logado}}">Bienvenido de nuevo a nuestro increíble Banco.</span> <!-- Siempre que aparece $ en una variable Polymer actúa -->
  </template>

  <script>
/*                url="http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/usuarios/{{id}}" */
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
/*
      mostrarDatos(datos) {
        console.log(datos.detail);
        console.log(datos.detail.response);
        this.nombre = datos.detail.response.nombre
        this.apellidos = datos.detail.response.apellidos
      }
*/
      mostrarResultadoLogin(resultado) {
        console.log("4. Llegaron los resultados")
        console.log(resultado)
        this.logado = true
        console.log("5. Proceso los resultados")
        console.log("6. Los datos del usuario son:")
        console.log("  Id: " + resultado.detail.response.id + "; Nombre: " + resultado.detail.response.nombre + "; Apellido: " + resultado.detail.response.apellidos)

        this.dispatchEvent(new CustomEvent("logado", {"detail":{"id":resultado.detail.response.id}}))

      }

    logar() {
      console.log("1. El usuario ha pulsado el botón")
      console.log(this.email)
      console.log(this.password)
      this.$.hacerLogin.headers.email = this.email /* Con $ me posiciono en el árbol de controles del DOM */
      this.$.hacerLogin.headers.password = this.password
      console.log("2. Voy a enviar la petición")
      /*
      this.$.hacerLogin.params.email = this.email
      this.$.hacerLogin.params.password = this.password
      */
      this.$.hacerLogin.generateRequest()
      console.log("3. Peticion enviada")
    }

    mostrarError(error) {
      console.log("4. Llega el error")
      console.log(error)
      this.logado = false
    }
  }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
