<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<!--  Ésta última importación me evita tener que hacer un for para recorrer todas las cuentas -->
<dom-module id="visor-cuentas">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerCuentas"
    url="http://localhost:3000/apitechu/v5/cuentas/{{id}}"
    method="GET"
    handle-as="json"
    on-response="mostrarCuentas"
    on-error="mostrarError"
    >

<!-- auto="" y headers='{"id":528}' estaba antes de implementar el modelo de comunicación entre componentes.
     Ahora no queremos que se ejecute automáticamente -->

  </iron-ajax>
    <h1>Listado de cuentas:</h1>
    <template is="dom-repeat" items="{{cuentas}}"> <!-- Este cuentas lo coje del this.cuentas de abajo-->
      <span>{{item.iban}}</span>
      <br/><br/>
    </template>
    <table class="table table-striped">
      <thead><th>Índice</th><th>IBAN</th></thead>
      <tbody>
        <template is="dom-repeat" items="{{cuentas}}">
          <tr>
            <td>{{index}}</td>
            <td>{{item.iban}}</td>
            <td><a class="btn btn-info" href="/movimientos/[[item.iban]]">Ver movimientos</a></td>
          </tr>
        </template>
      </tbody>
    </table>
  </template>

  <script>
/* Codificamos con headers porque es como lo hacen en clase, pero en mi caso no hace falta porque el parámetro se lo paso en la URL */

    /**
     * `visor-cuentas.html`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          cuentas: {
            type: Array
          }
        };
      }

      mostrarCuentas(resultado) {
          console.log(resultado.detail.response)
          this.cuentas = resultado.detail.response
      }

      obtenerCuentas(id) {
          this.id = id
          this.$.obtenerCuentas.headers.id = id
          this.$.obtenerCuentas.generateRequest() <!-- Este obtenerCuentas es el definido arriba, no es que definimos en el hijo-->
      }

      mostrarError(error) {
          console.log(error.detail.response)
      }
    }
    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
