<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax auto="" id="obtenerUsuario"
               url="http://localhost:3000/apitechu/v5/usuarios/{{id}}"
               handle-as="json"
               on-response="mostrarDatos">

    </iron-ajax>
    <div class="row">
      <h1 class="col-4">{{nombre}}</h1>
      <h2 class="col-4">{{apellidos}}</h2>
<!--      <button class="col-2 btn btn-success">Login</button>
      <button class="col-2 btn btn-warning">Logout</button>
-->
    </div>
  </template>

  <script>
/*                url="http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/usuarios/{{id}}" */
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          nombre: {
            type: String
          },
          apellidos: {
            type: String
          },
          id: {
            type: Number
          },
          ciudad: {
            type: String,
            value: "Desconocida"
          }
        };
      }
      mostrarDatos(datos) {
        console.log(datos.detail);
        console.log(datos.detail.response);
        this.nombre = datos.detail.response.nombre
        this.apellidos = datos.detail.response.apellidos
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
