<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/emisor-app/emisor-app.html">
<link rel="import" href="/src/receptor-app/receptor-app.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">

<dom-module id="padre-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- <h1>YO SOY TU PADRE!!</h1> -->
    <h1>Identifíquese, por favor:</h1>
    <login-usuario id="lgu" on-logado="procesarLogado" hidden$="{{estoylogado}}"></login-usuario>
    <visor-cuentas id="vsc" hidden$="{{!estoylogado}}"></visor-cuentas>

    <!-- <emisor-app id="emi" on-mievento="procesar"></emisor-app>
    <receptor-app id="recep"></receptor-app> -->
  </template>

  <script>
    /**
     * `padre-app.html`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PadreApp extends Polymer.Element {
      static get is() { return 'padre-app'; }
      static get properties() {
        return {
          estoylogado: {
            type: Boolean,
            value: false
          }
        };
      }
      procesar(e) {
        console.log(e)
        console.log("EMISOR ME HA DICHO ALGO")
        this.$.recep.mostrarDatos(e.detail)
      }

      procesarLogado(e) {
        var id = e.detail.id
        console.log("ID LOGADO: " + id)
        this.$.vsc.obtenerCuentas(id)
        this.estoylogado = true
      }
    }
    window.customElements.define(PadreApp.is, PadreApp);
  </script>
</dom-module>
